*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.continer{
     width: 100%;
     height: fit-content;
}
div.continer > nav{
    width: 100%;
    background-color: cadetblue;
    color: white;
    padding: 12px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}
div.continer > nav>button{
    padding: 8px 20px;
    border-radius: 5px;
    border: none ;
}
div.parent{
    margin-top:70px ;
    display: flex;
    align-items: center;
   flex-direction: column;
    gap: 9px;
  
}
div.circle{
    height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius: 50%;
}
div.box{
    width: 60%;
    padding: 8px 12px;
    border: 1px solid cadetblue;
    border-radius: 15px;
    display: flex;
      box-shadow: 5px 5px 20px cadetblue;
    justify-content:space-between;
    align-items: center;
}
div.red{
  background-color: red;
}
div.yellow{
    background-color: yellow;
}
div.green{
    background-color: greenyellow;
}
div.continer > div.continer-modal{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
div.continer >div.toggleForm{
  display: flex;
}
div.continer > div.continer-modal >div.modal{
    border: 1px solid cadetblue;
    width: 40%;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 8px 8px 30px cadetblue;
}
div.modal>h1{
    text-align: center;
    color: cadetblue;
}
form{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form>input,select{
    height: 30px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    color: cadetblue;
}
form>button{
    height: 35px;
    background-image: linear-gradient(60deg,cadetblue,rgb(160, 237, 240),rgb(132, 233, 236));
    border: none;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    transition: 3s;
}
form>button:hover{
    transform: translateY(4px);
}